/*****************************************************************/
/* Base colors (non-themed) */
/*****************************************************************/
/*****************************************************************/
/* Colors (themed) */
/*****************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Basic styling
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: black;
  background-color: white;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 20px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 40px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

strong {
  font-weight: 600; }

/**
 * Links
 */
a {
  color: #0085a1;
  text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: black;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  margin-bottom: 40px !important; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

pre > code {
  padding-left: 20px !important; }

/**
 * Clearfix
 */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1;
  /* for IE6 and IE7 */ }

/* Slight overflow occurs on small screens because i told the header h1 not to wrap on whitespace. */
html, body {
  overflow-x: hidden; }

pre, code {
  margin: 0;
  padding: 0; }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-width: 4px; }

hr.large {
  max-width: 60%;
  margin: 50px auto;
  border-width: 6px; }

/* Center the nav links within nav list */
.navbar-nav {
  text-align: center; }
  .navbar-nav li {
    float: none;
    display: inline-block; }

/* Center the nav list in collapsed navbar */
.navbar-collapse li {
  display: block; }

.navbar-collapse .navbar-nav {
  float: none; }

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }
  .navbar-custom .nav li a {
    font-size: 12px;
    letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .navbar-custom .nav li {
      display: inline-block; }
      .navbar-custom .nav li a {
        padding: 20px; } }
  @media only screen and (min-width: 1170px) {
    .navbar-custom {
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .navbar-custom .nav li a {
        font-size: 16px; } }

.intro-header {
  background-attachment: scroll;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 40px; }
  .intro-header .site-heading,
  .intro-header .page-heading {
    text-align: center; }
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
      font-size: 50px; }
    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading h1,
      .intro-header .page-heading h1 {
        line-height: 88px;
        font-size: 80px; } }
  .intro-header .page-heading,
  .intro-header .post-heading {
    padding-top: 150px; }
    .intro-header .page-heading hr.small,
    .intro-header .post-heading hr.small {
      margin-top: 30px;
      margin-bottom: 30px; }
  .intro-header .padded-heading {
    padding-top: 140px !important; }
    @media only screen and (min-width: 768px) {
      .intro-header .padded-heading {
        padding-top: 190px !important;
        height: 450px; } }
  .intro-header .site-heading {
    height: 425px;
    display: block;
    font-size: 18px;
    padding-top: 100px;
    margin-bottom: 0; }
    .intro-header .site-heading h1 {
      white-space: nowrap; }
      @media only screen and (max-width: 390px) {
        .intro-header .site-heading h1 > .leadingCursor {
          float: right; } }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading h1 {
          margin-bottom: 30px; } }
    .intro-header .site-heading h2 {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      margin-bottom: 20px; }
    .intro-header .site-heading .photo {
      margin-bottom: 0px;
      display: inline-block;
      text-align: center;
      width: 120px;
      height: 120px; }
      @media only screen and (min-width: 768px) {
        .intro-header .site-heading .photo {
          margin-bottom: 10px; } }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading {
        height: 450px; } }
  .intro-header .page-heading {
    height: 300px;
    padding-top: 80px; }
    @media only screen and (min-width: 768px) {
      .intro-header .page-heading {
        padding-top: 150px;
        height: 450px; } }
  .intro-header .post-heading {
    padding-bottom: 50px;
    text-align: left;
    padding-top: 70px; }
    .intro-header .post-heading h1 {
      font-size: 45px !important;
      margin-bottom: 1em; }
    .intro-header .post-heading .subheading,
    .intro-header .post-heading .meta {
      line-height: 1.1;
      display: block; }
    .intro-header .post-heading .subheading {
      font-size: 24px;
      margin: 10px 0 30px; }
    .intro-header .post-heading .meta {
      font-size: 20px; }
    @media only screen and (min-width: 768px) {
      .intro-header .post-heading {
        height: 450px;
        padding-top: 150px; }
        .intro-header .post-heading h1 {
          font-size: 55px; }
        .intro-header .post-heading .subheading {
          font-size: 30px; } }

.main {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .main h2 {
    font-size: 35px;
    margin-bottom: 30px; }
  .main h3 {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px; }
  .main ul, .main li {
    margin-left: 0;
    padding: 0; }
  .main p {
    font-size: 18px;
    text-align: justify;
    margin: 5px 0 40px 0;
    padding: 0; }
  .main .btn {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 25px; }
  .main .btn-lg {
    font-size: 16px;
    padding: 25px 35px; }
  .main .btn-submit {
    text-align: left; }
  .main .index {
    text-align: center; }
    .main .index .blurb p {
      font-size: 18px;
      display: inline-block;
      max-width: 900px;
      margin-bottom: 40px; }
    .main .index .blurb hr.large {
      max-width: 90%; }
    .main .index .section {
      padding: 0;
      padding-top: 3%; }
      .main .index .section > .container {
        max-width: 900px; }
      .main .index .section .intro > p {
        font-size: 18px;
        font-weight: 400;
        text-align: center; }
    .main .index .projects ul li:before {
      display: inline-block;
      float: right;
      width: 200px;
      height: 200px;
      margin-left: 3%; }
      @media only screen and (max-width: 1170px) {
        .main .index .projects ul li:before {
          zoom: 0.90; } }
      @media only screen and (max-width: 768px) {
        .main .index .projects ul li:before {
          float: left !important;
          margin-left: 20%;
          margin-top: 0%;
          margin-bottom: 2%;
          height: 200px !important; } }
    @media only screen and (max-width: 768px) {
      .main .index .projects ul li h3 {
        clear: both; }
      .main .index .projects ul li p {
        margin-bottom: 10%; } }
    .main .index .endorsement {
      text-align: center;
      margin-bottom: 8%; }
      .main .index .endorsement:last-of-type {
        margin-bottom: 0; }
      .main .index .endorsement > a > .endorsement-photo {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 100px;
        margin-bottom: 5px; }
      .main .index .endorsement > blockquote {
        font-size: 16px;
        margin-bottom: 10px; }
      .main .index .endorsement > .caption {
        font-size: 14px; }
  .main .blog {
    display: inline-block;
    text-align: left; }
    .main .blog h2 {
      margin-top: 0 !important; }
    .main .blog .post-preview a > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px; }
    .main .blog .post-preview a > .post-subtitle {
      margin: 0;
      margin-bottom: 10px; }
    .main .blog .post-preview .post-meta {
      font-size: 18px;
      margin-top: 0; }
    @media only screen and (min-width: 768px) {
      .main .blog .post-preview > a > .post-title {
        font-size: 36px; } }
    .main .blog .section-heading {
      font-size: 36px;
      margin-top: 60px; }
    .main .blog .caption {
      text-align: center;
      font-size: 14px;
      padding: 10px;
      margin: 0;
      display: block; }
    .main .blog .pager {
      margin: 20px 0 0; }
      .main .blog .pager li > a,
      .main .blog .pager li > span {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 5px; }
        @media only screen and (min-width: 768px) {
          .main .blog .pager li > a,
          .main .blog .pager li > span {
            font-size: 14px;
            padding: 15px 25px; } }
  .main .contact {
    max-width: 600px; }
    .main .contact p {
      font-size: 18px; }
    .main .contact .floating-label-form-group {
      font-size: 14px;
      position: relative;
      margin-bottom: 0;
      padding-bottom: 0.5em; }
      .main .contact .floating-label-form-group input,
      .main .contact .floating-label-form-group textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        font-size: 1.5em;
        resize: none; }
      .main .contact .floating-label-form-group label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline; }
      .main .contact .floating-label-form-group::not(:first-child) {
        padding-left: 14px; }
      .main .contact .floating-label-form-group .help-block {
        padding: 0;
        margin: 0; }
    .main .contact .floating-label-form-group-with-value label {
      top: 0; }
    .main .contact .control-group {
      text-align: left;
      margin-bottom: 5px; }

footer {
  font-size: 20px;
  padding: 50px 0 65px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800; }

a img:hover,
a img:focus {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

hr.small {
  border-color: #eeeeee; }

/* Change the color and background of the small horizontal lines on collapsed navbar icon */
.navbar-toggle[data-target="#bs-example-navbar-collapse-1"] .icon-bar {
  color: #d4d4d4;
  border-color: #d4d4d4;
  background-color: #d4d4d4; }

.navbar-toggle[data-target="#bs-example-navbar-collapse-1"]:hover .icon-bar {
  color: gray;
  border-color: gray;
  background-color: gray; }

.navbar-custom {
  background: #1a1a1a;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .navbar-custom .navbar-brand {
    color: #d4d4d4;
    font-weight: 800; }
  .navbar-custom .nav li a {
    color: #d4d4d4;
    text-transform: uppercase;
    font-weight: 800; }
  @media only screen and (min-width: 768px) {
    .navbar-custom {
      background: transparent;
      border-bottom: 1px solid transparent; }
      .navbar-custom .navbar-brand {
        color: #d4d4d4; }
        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus {
          color: gray; }
      .navbar-custom .nav li a {
        color: #d4d4d4; }
        .navbar-custom .nav li a:hover,
        .navbar-custom .nav li a:focus {
          color: gray; } }
  @media only screen and (min-width: 1170px) {
    .navbar-custom {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */ }
        .navbar-custom.is-fixed .navbar-brand {
          color: #d4d4d4; }
          .navbar-custom.is-fixed .navbar-brand:hover,
          .navbar-custom.is-fixed .navbar-brand:focus {
            color: gray; }
        .navbar-custom.is-fixed .nav li a {
          color: black; }
          .navbar-custom.is-fixed .nav li a:hover,
          .navbar-custom.is-fixed .nav li a:focus {
            color: #0085a1; } }

.intro-header {
  background: url("../img/bg.png");
  background-color: #0d0d0d; }
  .intro-header .site-heading h1,
  .intro-header .site-heading .cw-cursor,
  .intro-header .page-heading h1, .intro-header .page-heading .cw-cursor {
    color: #eeeeee; }
  .intro-header .site-heading h2,
  .intro-header .site-heading .cw-cursor,
  .intro-header .page-heading h2, .intro-header .page-heading .cw-cursor {
    color: #b3b3b3; }
  .intro-header .site-heading .bstooltip + .tooltip.top,
  .intro-header .site-heading .bstooltip + .tooltip.left,
  .intro-header .page-heading .bstooltip + .tooltip.top,
  .intro-header .page-heading .bstooltip + .tooltip.left {
    opacity: 0.95; }
  .intro-header .site-heading .bstooltip + .tooltip.top > .tooltip-arrow,
  .intro-header .page-heading .bstooltip + .tooltip.top > .tooltip-arrow {
    border-top-color: #a6a6a6; }
  .intro-header .site-heading .bstooltip + .tooltip.left > .tooltip-arrow,
  .intro-header .page-heading .bstooltip + .tooltip.left > .tooltip-arrow {
    border-left-color: #a6a6a6; }
  .intro-header .site-heading .bstooltip + .tooltip > .tooltip-inner,
  .intro-header .page-heading .bstooltip + .tooltip > .tooltip-inner {
    font-size: 1.2em;
    color: black;
    background-color: #a6a6a6; }
  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500; }
  .intro-header .site-heading h1,
  .intro-header .site-heading h2 {
    outline: none;
    border: 1px solid transparent;
    -webkit-transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
            transition: border 0.2s ease-out, box-shadow 0.2s ease-out; }
  .intro-header .site-heading h1:focus,
  .intro-header .site-heading h1:hover {
    border: 1px solid black;
    box-shadow: 1px 1px 10px 0px #5a5a5a, -1px -1px 10px 0px #5a5a5a; }
  .intro-header .site-heading h2:focus,
  .intro-header .site-heading h2:hover {
    border: 1px solid #5a5a5a;
    box-shadow: 1px 1px 10px 0px black, -1px -1px 10px 0px black; }
  .intro-header .site-heading .email {
    font-weight: 600; }
    .intro-header .site-heading .email a {
      color: #eeeeee; }
      .intro-header .site-heading .email a:hover {
        color: #bbbbbb; }
  .intro-header .site-heading .photo {
    background-size: cover;
    -o-background-size: cover;
    background-image: url("../img/me.jpg");
    background-position: center;
    border: 2px groove #d4d4d4;
    border-radius: 60px;
    box-shadow: 1px 1px 5px 0px gray, -1px -1px 5px 0px gray;
    -webkit-transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
            transition: border 0.2s ease-out, box-shadow 0.2s ease-out; }
    .intro-header .site-heading .photo:hover {
      box-shadow: 2px 2px 10px 0px gray, -2px -2px 10px 0px gray; }
  .intro-header .post-heading h1 {
    font-size: 40px;
    color: #d4d4d4; }
  .intro-header .post-heading h2 {
    color: gray; }
  .intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600; }
  .intro-header .post-heading .meta {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 300; }
    .intro-header .post-heading .meta a {
      color: #0085a1; }

.main .btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0;
  background-color: #eeeeee;
  color: #404040;
  border-radius: 0; }

.main .btn-default:hover,
.main .btn-default:focus {
  color: #eeeeee;
  background-color: #0085a1;
  border: 1px solid #0085a1; }

.main .index h2 {
  color: #0085a1; }

.main .index h3 {
  color: #404040; }

.main .index hr.large {
  border-color: gray; }

.main .index .blurb {
  color: black;
  font-weight: 400; }
  .main .index .blurb hr.large {
    border-color: gray; }

.main .index .photo-sean {
  background-image: url("../img/sean.jpg"); }

.main .index .photo-ben {
  background-image: url("../img/ben.jpg"); }

.main .index .project-alumina:before {
  background-image: url("../img/macbook_alumina_small.png"); }

.main .index .project-heroku-db:before {
  background-image: url("../img/heroku_db.png");
  width: 160px;
  height: 120px; }

.main .index .project-salesforce-s3:before {
  background-image: url("../img/salesforce_s3.png"); }

.main .index .section {
  padding-top: 3%;
  padding-bottom: 3%; }
  .main .index .section p.section-intro {
    color: #404040;
    font-weight: 600; }
  .main .index .section:nth-of-type(even) {
    background: #fcfcfc; }

.main .index .projects ul li:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

@media only screen and (max-width: 768px) {
  .main .index .projects ul li {
    border-bottom: 4px solid gray; } }

.main .index .endorsement .endorsement-photo {
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  border: 1px groove #404040;
  box-shadow: 1px 1px 1px 0px gray, -1px -1px 1px 0px gray; }

.main .index .endorsement .caption {
  font-style: normal; }
  .main .index .endorsement .caption a {
    color: #0085a1; }

.main .blog .section-heading {
  font-weight: 700; }

.main .blog .caption {
  font-style: italic;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.main .blog .post-preview a {
  color: #404040; }
  .main .blog .post-preview a:hover,
  .main .blog .post-preview a:focus {
    text-decoration: none;
    color: #404040; }
  .main .blog .post-preview a > .post-subtitle {
    font-weight: 300; }

.main .blog .post-meta {
  font-family: 'Lora', 'Times New Roman', serif;
  color: gray;
  font-style: italic; }
  .main .blog .post-meta > a {
    text-decoration: none;
    color: #0085a1; }
    .main .blog .post-meta > a:hover,
    .main .blog .post-meta > a:focus {
      color: #0085a1;
      text-decoration: underline; }

.main .blog article {
  font-family: 'Lora', 'Times New Roman', serif; }
  .main .blog article p {
    font-size: 20px; }
  .main .blog article ol li, .main .blog article ul li {
    font-size: 20px; }
  .main .blog article ul {
    list-style-type: circle !important; }
  .main .blog article ol {
    list-style-type: decimal !important; }
  .main .blog article code {
    color: #007088;
    font-size: 18px;
    font-family: Consolas, Monaco, "Andale Mono", monospace; }
  .main .blog article pre {
    border-radius: 5px; }
    .main .blog article pre code {
      font-size: 16px;
      font-family: Consolas, Monaco, "Andale Mono", monospace; }

.main .blog .pager li > a,
.main .blog .pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  background-color: white;
  color: #404040;
  border-radius: 0; }

.main .blog .pager li > a:hover,
.main .blog .pager li > a:focus {
  color: #eeeeee;
  background-color: #0085a1;
  border: 1px solid #0085a1; }

.main .blog .pager .disabled > a,
.main .blog .pager .disabled > a:hover,
.main .blog .pager .disabled > a:focus,
.main .blog .pager .disabled > span {
  color: white;
  background-color: black;
  cursor: not-allowed; }

.main .contact {
  background-color: white !important;
  font-family: 'Lora', 'Times New Roman', serif; }
  .main .contact .floating-label-form-group {
    border-bottom: 1px solid #eeeeee; }
    .main .contact .floating-label-form-group input,
    .main .contact .floating-label-form-group textarea {
      background-color: white !important;
      border: none;
      border-bottom: 1px solid gray;
      border-radius: 0;
      background: none;
      box-shadow: none !important; }
    .main .contact .floating-label-form-group label {
      opacity: 0;
      -webkit-transition: top 0.3s ease, opacity 0.3s ease;
      transition: top 0.3s ease, opacity 0.3s ease; }
    .main .contact .floating-label-form-group::not(:first-child) {
      border-left: 1px solid #eeeeee; }
  .main .contact .floating-label-form-group-with-value label {
    opacity: 1; }
  .main .contact .floating-label-form-group-with-focus label {
    color: #0085a1; }
  .main .contact form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee; }

footer {
  background-color: white !important;
  font-family: 'Lora', 'Times New Roman', serif; }
  footer a,
  footer a:active,
  footer a:visited {
    color: #404040; }
  footer a:visited:hover {
    color: #0085a1; }
  footer a:hover {
    color: #0085a1; }

::-moz-selection {
  color: black;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

::selection {
  color: black;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

header ::-moz-selection,
nav ::-moz-selection {
  color: #eeeeee;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

header ::selection,
nav ::selection {
  color: #eeeeee;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

header ::-moz-selection
nav ::-moz-selection {
  color: #eeeeee;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

::-moz-selection {
  color: black;
  text-shadow: none;
  background: rgba(0, 133, 161, 0.2); }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: rgba(0, 133, 161, 0.2); }

pre ::-moz-selection, code ::-moz-selection {
  color: #f2f2f2;
  background: rgba(8, 212, 255, 0.2); }

pre ::selection, code ::selection {
  color: #f2f2f2;
  background: rgba(8, 212, 255, 0.2); }
