\---
layout: default
\---

/ Post header
%header.intro-header
  .container.post-heading
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %h1 {{ page.title }}
        {% if page.subtitle %}
        %h2.subheading {{ page.subtitle }}
        {% endif %}
        %span.meta Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}

/ Content
.main
  .container.blog
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %article
          {{ content }}
        %hr
        %ul.pager
          {% if page.previous.url %}
          %li.previous
            %a{:href => "{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}", "data-placement" => "top", "data-toggle" => "tooltip", :title => "{{page.previous.title}}"} &larr; Previous Post
          {% endif %}
          {% if page.next.url %}
          %li.next
            %a{:href => "{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}", "data-placement" => "top", "data-toggle" => "tooltip", :title => "{{page.next.title}}"} Next Post &rarr;
          {% endif %}