%head
  %title Orbiter
  %script{:charset => "UTF-8", :src => "cocos2d-js-v3.6.js", :type => "text/javascript"}
  %script{:src => "game.js", :type => "text/javascript"}
  %script{:src => "main.js", :type => "text/javascript"}
%body
  %canvas#gameCanvas{:height => "450", :width => "800"}
