\---
layout: default
permalink: /
\---

/ Header
%header.intro-header
  .container.site-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1{'cw-text' => "{{ site.author }}", 'cw-leading-cursor' => 'true'}
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .photo#photo
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h2.subheading{'cw-text' => "{{ site.subtitle }}", 'cw-leading-cursor' => 'true'} &nbsp;

/ Content
.main

