\---
layout: default
title: CV
permalink: cv/
\---
.cv
  .page-header
    %h1.center.cv-font.cv-name.cv-page-header Robin Smith
  .cv-title.center.invert
    %h2 Independent Salesforce.com Developer
  .cv-values
    %h2.center.cv-font.cv-values-row
      I am highly
      %span.cv-values-em creative
    %h2.center.cv-font.cv-values-row
      I write
      %span.cv-values-em quality code
      using
      %span.cv-values-em best practices
    %h2.center.cv-font.cv-values-row
      I am
      %span.cv-values-em easy to work with
  .cv-details
    .row
      .col-xs-12
        .cv-details-line-label Date of birth:
        .cv-details-line-value 24/06/1987
    .row
      .col-xs-12
        .cv-details-line-label Tel:
        .cv-details-line-value 07445 483 904
    .row
      .col-xs-12
        .cv-details-line-label Email:
        .cv-details-line-value robin@mrrobinsmith.com
    .row
      .col-xs-12
        .cv-details-line-label Website:
        .cv-details-line-value http://mrrobinsmith.com
    .row
      .col-xs-12
        .cv-details-line-label Address:
        .cv-details-line-value 12 Macaulay Drive, Balderton, Nottinghamshire, NG24 3QQ
  .cv-experience
    .row
      .col-xs-2
        .cv-section-name Experience
      .col-xs-10
        .cv-experience-block
          .cv-experience-heading
            DevOps Engineer - Cloudreach Canada - Vancouver (March 2014 - present)
          .cv-experience-content
            I was one of 2 engineers chosen by Cloudreach to relocate to Vancouver to start up a new North
            American Network Operations Center. I interviewed candidates and trained 6 new team members to
            become self-sufficient, AWS-certified DevOps Engineers capable of handling critical failures in
            \- and restoring service to - customer web application stacks. Excellent communications were
            emphasised within the team as we worked with a UK customer base and UK-based colleagues.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-10
        .cv-experience-block
          .cv-experience-heading
            DevOps Engineer - Cloudreach Ltd - Edinburgh (June 2013 &#x2013; March 2014)
          .cv-experience-content
            This role gave me deep exposure to the infrastructure, platforms and architecture behind
            a wide range of customer production web applications and integrations. I have worked extensively
            on the Force.com platform in many business-critical areas, for Cloudreach and for customers.
            I have consulted on and implemented solutions in Apex within customer Salesforce environments. I
            designed and developed an internal archiving solution using python, to archive support case
            emails from Salesforce into Amazon S3. The archiving tool was later deployed by Cloudreach in a
            customer production environment. I developed a custom Salesforce data export tool using ZSH
            scripts to run on UNIX systems. The tool interfaces with the Salesforce.com Data Loader tool via
            the command-line interface to provide a command-line data export tool in order to automate
            manual data tasks. I achieved one of four annual Cloudreach values awards for being
            %em Easy To Work With.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-10
        .cv-experience-block
          .cv-experience-heading
            Software Developer - Cloudreach Ltd. - Edinburgh (October 2011 &#x2013; June 2013)
          .cv-experience-content
            I joined Cloudreach as the first developer in their new Edinburgh office. I immediately became
            a core developer on Cloudreach's first sellable product: Alumina Connect - a substantial
            application which runs on Salesforce's Force.com platform and synchronises user data between
            Salesforce and Google Apps. I quickly learned the Force.com platform and was able to to
            immediately contribute, eventually becoming a top contributor on the project. I designed and
            developed a separate licensing application that runs on the Force.com platform which was used
            in customer production environments to license Alumina Connect. I wrote and
            maintained a continuous integration tool using shell scripts and Ant to automate deployment of
            code from remote source repositories to the Force.com platform. The tool was used by developers
            in my team and other members of the company for code deployments to customer production
            environments.
  .cv-tech-skills
    .row
      .col-xs-2
        .cv-section-name Dev Skills
      .col-xs-10
        .row
          .col-xs-6
            .cv-experience-block
              .cv-experience-heading Languages:
              .cv-experience-content
                %ul
                  %li Force.com Apex - 3 years
                  %li Java - 2 years
                  %li Python - 2 years
                  %li Javascript - 1 year
                  %li Ruby - 1 year
                  %li Google Apps Script - 1 year
                  %li ZSH scripting - 1 year
          .col-xs-6
            .cv-experience-block
              .cv-experience-heading Platforms:
              .cv-experience-content
                %ul
                  %li Salesforce.com
                  %li Force.com Certified Developer
                  %li Amazon Web Services Certified Solutions Architect
                  %li Google Apps
                  %li Microsoft SQL Server
        .row
          .col-xs-6
            .cv-experience-block
              .cv-experience-heading Methodologies:
              .cv-experience-content
                %ul
                  %li Test-Driven Development
                  %li Continuous Integration
                  %li DevOps
          .col-xs-6
            .cv-experience-block
              .cv-experience-heading Tools:
              .cv-experience-content
                %ul
                  %li Git, Github, Bitbucket
                  %li JIRA
                  %li Bamboo
  .cv-education
    .row
      .col-xs-2
        .cv-section-name Education
      .col-xs-2
        .cv-experience-heading 2005-2009
      .col-xs-8
        .cv-experience-block
          .cv-experience-heading MPhys Physics with Astrophysics, University of Sussex
          .cv-experience-content
            Degree class
            %strong 2:1
  .cv-other-skills
    .row
      .col-xs-2
        .cv-section-name Other Skills  Qualities
      .col-xs-10
        .cv-experience-block
          .cv-experience-heading Efficient time management and work ethic
          .cv-experience-content
            I take a very energetic and positive approach to life and aim to make the most of each day.
            Handling the workload of a physics degree alongside paid employment and recreational
            activities has taught me efficiency, organisation and working to a self-disciplined schedule.
  .cv-other-skills
    .row
      .col-xs-2
      .col-xs-10
        .cv-experience-block
          .cv-experience-heading Communication and people skills
          .cv-experience-content
            I have a very strong sense for effective and clear communications, developed through
            a diverse range of employment and experiences: DevOps Engineer; Software Developer; Officer Training
            Corps (OTC); teaching at the University of Sussex; formal presentations; scientific essays and
            reports. I gave a talk on Test-Driven-Development at a TechMeetup event in Edinburgh.
  .cv-employment-history
    .row
      .col-xs-2
        .cv-section-name Employment History
      .col-xs-3
        .cv-experience-heading March 2014 - present
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Cloudreach Canada Inc
          .cv-experience-content
            DevOps Engineer.
    .row
      .col-xs-2
      .col-xs-3
        .cv-experience-heading October 2011 - March 2014
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Cloudreach Ltd
          .cv-experience-content
            DevOps Engineer.
    .row
      .col-xs-2
      .col-xs-3
        .cv-experience-heading October 2011 - March 2014
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Cloudreach Ltd
          .cv-experience-content
            Software Developer.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-3
        .cv-experience-heading January 2010 - October 2011
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Sainsbury&#x2019;s PLC; Big Issue
          .cv-experience-content
            Part-time work at a Sainsbury&#x2019;s Local store to supplement income whilst doing voluntary work at
            Big Issue and learning programming.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-3
        .cv-experience-heading June 2009 &#x2013; August 2009
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading University of Sussex
          .cv-experience-content
            As an International Summer School Teaching Assistant I headed physics problem-solving workshops, providing help with assignments and essential
            physics tuition, for two classes of international students. The job involved marking over 70
            assignments a week, providing helpful feedback and extra physics
            tuition where required.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-3
        .cv-experience-heading October 2008 - June 2009
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Ministry of Defence - Southampton University Officers Training Corps
          .cv-experience-content
            I undertook several weekend exercises with the army whilst completing the last year of my degree.
            This involved team-leading exercises, weapon handling, first-aid training, weekly drill nights
            and a live night-time battle exercise in a mock-up terrorist village.
    .row
      .col-xs-2
        .cv-section-name
      .col-xs-3
        .cv-experience-heading June 2008 &#x2013; August 2008
      .col-xs-7
        .cv-experience-block
          .cv-experience-heading Summer research placement, University of Sussex
          .cv-experience-content
            Testing a new point source extraction program developed by the Astronomy Center. I wrote a shell
            script to use the extraction program to perform point-source extraction on model datasets for
            the Herschel Space Telescope, as part of preparation for the Herschel space mission.
  .cv-about
    .row
      .col-xs-2
        .cv-section-name
          About
      .col-xs-10
        .cv-experience-content
          I am a self-taught software developer with a strong technical background. I love to learn and create
          and i have found the perfect combination of both disciplines in the art of computer programming. I am
          a passionate learner and teacher and strongly believe in the power of teaching as a way to improve
          personal understanding. In March 2013 I attended and highly enjoyed the developer conference
          %em Whisky Web 2
          at Airth Castle in Scotland, from which I drew a lot of inspiration in the
          course of my own learning. I also love to swim regularly.
          test
