<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_n_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>button_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>button_s_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>restart_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>restart_n_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,60},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>restart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>restart_s_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,60},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>spaceship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship_nofire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{65,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,100}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>start_n_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,60},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>start_s_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,60},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1802,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04f29e937592b63c1f561e991103318:2ad53ad00c3245f79411991b682d94e0:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
