// Clean Blog
$theme-1: rgb(238, 238, 238);
$theme-2: rgb(128, 128, 128);
$theme-3: rgb(0, 133, 161);
$theme-4: rgb(64, 64, 64);
$theme-5: rgb(0, 0, 0);

// Sunset Dark
//$theme-1: rgb(242, 103, 31);
//$theme-2:rgb(201, 27, 38);
//$theme-3: rgb(156, 15, 95);
//$theme-4: rgb(96, 4, 122);
//$theme-5: rgb(22, 10, 71);