// Global Components
body {
    @include sans-serif();
}

// -- Typography

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif();
    font-weight: 800;
}

a img {
    &:hover,
    &:focus {
        cursor: zoom-in;
    }
}

hr.small {
    border-color: $header-hr-color;
}

/* Change the color and background of the small horizontal lines on collapsed navbar icon */
.navbar-toggle[data-target="#bs-example-navbar-collapse-1"] {
    .icon-bar {
        color: $nav-color;
        border-color: $nav-color;
        background-color: $nav-color;
    }

    &:hover {
        .icon-bar {
            color: $nav-hover-color;
            border-color: $nav-hover-color;
            background-color: $nav-hover-color;
        }
    }
}

// Navigation
.navbar-custom {
    background: darken($theme-4, 15%);
    @include sans-serif();
    .navbar-brand {
        color: $nav-color;
        font-weight: 800;
    }
    .nav {
        li {
            a {
                color: $nav-color;
                text-transform: uppercase;
                font-weight: 800;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        background: transparent;
        border-bottom: 1px solid transparent;
        .navbar-brand {
            color: $nav-color;
            &:hover,
            &:focus {
                color: $nav-hover-color;
            }
        }
        .nav {
            li {
                a {
                    color: $nav-color;
                    &:hover,
                    &:focus {
                        color: $nav-hover-color;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            .navbar-brand {
                color: $nav-color;
                &:hover,
                &:focus {
                    color: $nav-hover-color;
                }
            }
            .nav {
                li {
                    a {
                        color: $theme-5;
                        &:hover,
                        &:focus {
                            color: $theme-3;
                        }
                    }
                }
            }
        }
    }
}

// Header
.intro-header {
    background: $header-bg-image;
    background-color: darken($theme-4, 20%);
    .site-heading,
    .page-heading {
        h1, .cw-cursor {
            color: $theme-1;
        }

        h2, .cw-cursor {
            color: lighten($theme-2, 20%);
        }

        .bstooltip + .tooltip.top,
        .bstooltip + .tooltip.left {
            opacity: $tooltip-opacity;
        }

        .bstooltip + .tooltip.top > .tooltip-arrow {
            border-top-color: $tooltip-arrow-color;
        }
        .bstooltip + .tooltip.left > .tooltip-arrow {
            border-left-color: $tooltip-arrow-color;
        }

        .bstooltip + .tooltip > .tooltip-inner {
            font-size: $tooltip-font-size;
            color: $tooltip-color;
            background-color: $tooltip-bg-color;
        }

        .subheading {
            @include sans-serif();
            font-weight: 500;
        }
    }

    .site-heading {
        h1,
        h2 {
            outline: none;
            border: 1px solid rgba(0, 0, 0 ,0);
            transition: border 0.2s ease-out,
            box-shadow 0.2s ease-out;
        }

        h1:focus,
        h1:hover {
            border: 1px solid $header-bg-col2;
            box-shadow: 1px 1px 10px 0px $header-bg-col1,
            -1px -1px 10px 0px $header-bg-col1;
        }

        h2:focus,
        h2:hover {
            border: 1px solid $header-bg-col1;
            box-shadow: 1px 1px 10px 0px $header-bg-col2,
            -1px -1px 10px 0px $header-bg-col2;
        }

        .email {
            a {
                color: $header-font-col;
                &:hover {
                    color: darken($header-font-col, 20%);
                }
            }
            font-weight: 600;
        }

        .photo {
            @include background-cover();
            background-image: url("../img/me.jpg");
            background-position: center;
            border: 2px groove $nav-color;
            border-radius: $image-height / 2;
            box-shadow: 1px 1px 5px 0px $photo-edge-color,
            -1px -1px 5px 0px $photo-edge-color;
            transition: border 0.2s ease-out,
            box-shadow 0.2s ease-out;

            &:hover {
                box-shadow: 2px 2px 10px 0px $photo-edge-color,
                -2px -2px 10px 0px $photo-edge-color;
            }
        }
    }

    .post-heading {
        h1 {
            font-size: 40px;
            color: darken($theme-1, 10%);
        }

        h2 {
            color: $theme-2;
        }
        .subheading {
            @include sans-serif();
            font-weight: 600;
        }

        .meta {
            @include sans-serif();
            font-style: italic;
            font-weight: 300;
            a {
                color: $a-color;
            }
        }
    }
}


.main {
    // Button Styles
    .btn {
        @include sans-serif();
        text-transform: uppercase;
        font-weight: 800;
        border-radius: 0;
        background-color: $theme-1;
        color: $theme-4;
        border-radius: 0;
    }

    .btn-default {
        &:hover,
        &:focus {
            color: $theme-1;
            background-color: $theme-3;
            border: 1px solid $theme-3;
        }
    }

    .index {
        h2 {
            color: $theme-3;
        }
        h3 {
            color: $theme-4;
        }

        hr.large {
            border-color: $theme-2;
        }

        .blurb {
            color: black;
            font-weight: 400;

            hr.large {
                border-color: $theme-2;
            }
        }

        .photo-sean {
            background-image: url('../img/sean.jpg');
        }

        .photo-ben {
            background-image: url('../img/ben.jpg');
        }

        .project-alumina:before {
            background-image: url('../img/macbook_alumina_small.png');
        }

        .project-heroku-db:before {
            background-image: url('../img/heroku_db.png');
            width: $project-photo-size * 0.8;
            height: $project-photo-size * 0.6;
        }

        .project-salesforce-s3:before {
            background-image: url('../img/salesforce_s3.png');
        }

        .section {
            padding-top: 3%;
            padding-bottom: 3%;

            p.section-intro {
                color: $theme-4;
                font-weight: 600;
            }

            &:nth-of-type(even) {
                background: darken($background-color, 1%);
            }
        }

        .projects {
            ul {
                li {
                    &:before {
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    @media only screen and (max-width: 768px) {
                        border-bottom: 4px solid $theme-2;
                    }
                }
            }
        }

        .endorsement {
            .endorsement-photo {
                background-size: cover;
                background-position: center;
                border-radius: $endorser-photo-size / 2;
                border: 1px groove $theme-4;
                box-shadow: 1px 1px 1px 0px $theme-2,
                -1px -1px 1px 0px $theme-2
            }

            .caption {
                font-style: normal;

                a {
                    color: $a-color;
                }
            }
        }
    }
    .blog{
        // Sections
        .section-heading {
            font-weight: 700;
        }

        .caption {
            font-style: italic;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .post-preview {
            a {
                color: $theme-4;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $theme-4;
                }
                > .post-subtitle {
                    font-weight: 300;
                }
            }
        }

        .post-meta {
            @include serif();
            color: $theme-2;
            font-style: italic;
            > a {
                text-decoration: none;
                color: $a-color;
                &:hover,
                &:focus {
                    color: $a-hover-color;
                    text-decoration: underline;
                }
            }
        }

        article {
            @include serif();
            p {
                font-size: $article-font-size;
            }

            ol, ul {
                li {
                    font-size: $article-font-size;
                }
            }

            ul {
                list-style-type: circle !important;
            }

            ol {
                list-style-type: decimal !important;
            }

            code {
                color: $inline-code-font-color;
                font-size: $inline-code-font-size;
                font-family: $code-font;
            }

            pre {
                border-radius: 5px;
                code {
                    font-size: $code-font-size;
                    font-family: $code-font;
                }
            }
        }

        // Pager Styling
        .pager {
            li {
                > a,
                > span {
                    @include sans-serif();
                    text-transform: uppercase;
                    font-weight: 800;
                    background-color: $background-color;
                    color: $theme-4;
                    border-radius: 0;
                }

                > a:hover,
                > a:focus {
                    color: $theme-1;
                    background-color: $theme-3;
                    border: 1px solid $theme-3;
                }
            }

            .disabled {
                > a,
                > a:hover,
                > a:focus,
                > span {
                    color: $white;
                    background-color: $theme-5;
                    cursor: not-allowed;
                }
            }
        }
    }

    .contact {
        background-color: $background-color !important;
        @include serif();
        .floating-label-form-group {
            border-bottom: 1px solid $theme-1;
            input,
            textarea {
                background-color: $background-color !important;
                border: none;
                border-bottom: 1px solid $theme-2;
                border-radius: 0;
                background: none;
                box-shadow: none !important;
            }
            label {
                opacity: 0;
                -webkit-transition: top 0.3s ease,opacity 0.3s ease;
                -moz-transition: top 0.3s ease,opacity 0.3s ease;
                -ms-transition: top 0.3s ease,opacity 0.3s ease;
                transition: top 0.3s ease,opacity 0.3s ease;
            }
            &::not(:first-child) {
                border-left: 1px solid $theme-1;
            }
        }

        .floating-label-form-group-with-value {
            label {
                opacity: 1;
            }
        }

        .floating-label-form-group-with-focus {
            label {
                color: $theme-3;
            }
        }

        form .row:first-child .floating-label-form-group {
            border-top: 1px solid $theme-1;
        }
    }
}

footer {
    background-color: $background-color !important;
    @include serif();
    a,
    a:active,
    a:visited {
        color: $media-icon-col;
    }
    a:visited:hover {
        color: $media-icon-hover-col;
    }
    a:hover {
        color: $media-icon-hover-col;
    }
}

// -- Highlight Color Customization
::selection {
    color: $select-color;
    text-shadow: none;
    background: $select-bg-color;
}

header ::selection,
nav ::selection {
    color: $header-select-color;
    text-shadow: none;
    background: $select-bg-color;
}

header ::-moz-selection
nav ::-moz-selection {
    color: $header-select-color;
    text-shadow: none;
    background: $select-bg-color;
}

::-moz-selection {
    color: $select-color;
    text-shadow: none;
    background: $select-bg-color;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $select-bg-color;
}

pre ::selection, code ::selection{
    color: darken(white, 5%);
    background: lighten($select-bg-color, 20%);
}