---
layout: default
---
<!-- Header -->
<header class='intro-header'>
  <div class='{% if page.subtitle %}container page-heading{% else %}container page-heading padded-heading{% endif %}'>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    {% if page.subtitle %}
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
        <hr class='small'>
        <h2 class='subheading'>{{ page.subtitle }}</h2>
      </div>
    </div>
    {% endif %}
  </div>
</header>
<!-- Content -->
<div class='container contact'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <div class='main'>
        {{ content }}
      </div>
    </div>
  </div>
</div>
<hr>
