/ Footer
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p.copyright.text-muted Copyright © {{ site.brand }} 2015

-#:javascript
  //console.clear()


/ jQuery Core Javascript
%script{:src => "{{ site.baseurl }}/js/scripts.js"}