/ Footer
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %ul.list-inline.text-center
          %li
            %a{:href => "https://github.com/{{ site.github }}", :target => "_blank"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-github.fa-stack-1x.fa-inverse
          %li
            %a{:href => "https://www.linkedin.com/in/{{ site.linkedin }}", :target => "_blank"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
          -#%li
          -#  %a{:href => "https://twitter.com/{{ site.twitter }}", :target => "_blank"}
          -#    %span.fa-stack.fa-lg
          -#      %i.fa.fa-circle.fa-stack-2x
          -#      %i.fa.fa-twitter.fa-stack-1x.fa-inverse
          %li
            %a{:href => "mailto:robin@rsmith.io", :target => "_blank"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-envelope.fa-stack-1x.fa-inverse

        %p.copyright.text-muted Copyright © {{ site.brand }} 2015

-#:javascript
  //console.clear()


/ jQuery Core Javascript
%script{:src => "{{ site.baseurl }}/js/scripts.js"}